body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2;
  display: flex;
}

#map {
  height: 100vh;
  width: 70%;
  z-index: 1;
}

#panel {
  width: 30%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: -2px 0 10px rgba(0,0,0,0.1);
  overflow-y: auto;
}

#chart-box {
  background: white;
  padding: 10px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 10px;
}


#panel p {
  color: #555;
  font-size: 14px;
}



